<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- EXERCISE 1 -->
    <!-- ---CARD ---  -->

    <article class="card">
        <section class="card__img"></section>
        <section class="card__text">
            <h2 class="card__heading">En awesome kurs i grejer</h2>
            <p class="card__paragraph">Med Lärare lärarsson</p>
            <nav class="card__navigation">
                <button class="card__button card__button_top">Planera</button>
                <button class="card__button ">Kursvy</button>
                <button class="card__button ">Översikt</button>
                <button class="card__button card__button__bottom">Bedömning</button>
            </nav>
        </section>
    </article>


<!-- EXERCISE 2 -->
<!-- TOP BAR  -->

<nav class="topbar__navigation">
    <button class="topbar__button">Planera</button>
    <button class="topbar__button">Kursvy</button>
    <button class="topbar__button bold">Översikt</button>
    <button class="topbar__button">Bedömning</button>
</nav>

<!-- TEXT  -->

<!-- LONG  -->
<section class="text__modul">
    <p>Här står ett väldigt konkret modulmål som kan vara ganska långt beskrivet</p>
</section>

<!-- MEDIUM  -->
<section class="text__modul">
    <p>Här står ett väldigt konkret modulmål</p>
</section>

<!-- SHORT  -->
<section class="text__modul">
    <p>Kort modulmål</p>
</section>

<!-- BUTTONS  -->

<figure class="toggle__img">
    <img src="/images/input toggle.png" alt="toggle">
    <figcaption class="toggle__text">Fäll ihop avklarade Moduler och Aktiviteter</figcaption>
</figure>

<figure class="article__img">
    <img src="/images/document-outline.svg" alt="dokument">
    <figcaption>PDF artikel om bananböjning</figcaption>
</figure>

<figure class="article__img">
    <img src="/images/videocam-outline.png" alt="videocam">
    <figcaption>Super awesome video</figcaption>
</figure>

<button class="finnished">OK, klar!</button>

<nav class="understand">
    <button class="understand__button">Ej påbörjat</button>
    <button class="understand__button">Förstår inte</button>
    <button class="understand__button">Förstår delvis</button>
    <button class="understand__button">Förstår helt</button>
</nav>

<article class="slider">
    <h4 class="slider__heading"> Lorem ipsum dolor sit amet, consectetu</h4>
    <section class="slider__text">
    <p class="slider__paragraph">Förstår inte</p>
    <input class="slider__input" type="range" min="0" max="10">
    <p class="slider__paragraph">Förstår allt</p>
    </section>
</article>

<!-- MODULER  -->

<article class="module__small">
    <section class="module__small_left">
        <h2 class="module__small-heading underline">01</h2>
        <h3 class="module__small-h3">2 studiedagar</h3>
    </section>
    <section class="module__small_right">
        <h2 class="module__small-heading">Mål med modul</h2>
        <div class="module__small_right-container">
            <p class="module__small_right-container-p">1</p>
            <p>Paradigm shift series A financing social media startup backing android.</p>
        </div>
        <div class="module__small_right-container">
            <p class="module__small_right-container-p">2</p>
            <p>Paradigm shift series A financing social media startup backing android.</p>
        </div>
    </section>
</article>

<article class="module-big">
    <aside class="module-big__aside">
        <h2 class="module-big__heading underline">1.2</h2>
        <section class="module-big__calender">
            <img src="/images/calendar-outline.svg" alt="calendar-outline">
            <div>
                <p><span class="bold">3 okt. </span>09.00 - 16.00</p>
                <p>@zoom</p>
            </div>
        </section>
    </aside>
    <section>
        <h2 class="module-big__heading">Tillgänglighet - en grundläggande rättighet</h2>
        <section class="text__modul">
            <p>Här står ett väldigt konkret modulmål som kan vara ganska långt beskrivet</p>
        </section>
        <p>Responsive web design agile development funding MVP alpha channels. 
            User experience beta branding supply chain social proof 
            scrum project ramen influencer hypotheses termsheet.</p>
            <figure class="article__img">
                <img src="/images/document-outline.svg" alt="dokument">
                <figcaption>PDF artikel om bananböjning</figcaption>
            </figure>
           
            <figure class="article__img">
                <img src="/images/videocam-outline.png" alt="videocam">
                <figcaption>Super awesome video</figcaption>
            </figure>
            <nav class="understand">
                <button class="understand__button">Ej påbörjat</button>
                <button class="understand__button">Förstår inte</button>
                <button class="understand__button">Förstår delvis</button>
                <button class="understand__button">Förstår helt</button>
            </nav>
            

    </section>
</article>

</body>

</html>