@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Fira+Sans&family=Frank+Ruhl+Libre&family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=PT+Sans&family=Poppins:wght@300;400;600;700;800&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    font-family: "cairo";
}

.card__img {
    width: 245px;
    height: 200px;
    background: #666A73;
    border-radius: 8px 8px 0px 0px;
}

.card__text {
    width: 245px;
    height: 225px;
    background: #F5F6FF;
    border-radius: 0px 0px 8px 8px;
}

.card__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #141619;
    padding: 1rem 0rem 0rem 1rem;
}

.card__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141619;
    padding: 0.3rem 1rem;
    margin-bottom: 1.5rem;
}

.card__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__button {
    font-family: "cairo";
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 213px;
    height: 26px;
    border: none;
    background-color: rgba(20, 22, 25, 0.08);    
    margin: 1px;
}

.card__button:hover {
    cursor: pointer;
}

.card__button_top {
    background-color: rgba(20, 22, 25, 0.8);
    border-radius: 6px 6px 0px 0px;
    color: white;
}

.card__button__bottom {
    border-radius: 0px 0px 8px 8px;
}